<div class="container-xl container-fluid text-center">
<%= link_to 'New Meeting', new_meeting_path, class:"btn btn-primary", style:"color:#fff" %>

<p id="notice"><%= notice %></p>

<h1 class="text-center">Meetings Tracker</h1>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>
</p>
  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.name, meeting %>
    </div>
  <% end %>
<% end %>

<table>
  <thead>
    <tr class="table-dark">
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= meeting.end_time %></td>
        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>