<div class="container-xl container-fluid text-center">
<%= link_to 'New Meeting', new_meeting_path, class:"btn btn-primary", style:"color:#fff" %>

<p id="notice"><%= notice %></p>

<h1 class="text-center">Meetings Tracker</h1>
<hr>
<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>
</p>
  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.name, meeting %>
    </div>
  <% end %>
<% end %>
<hr>

<h3 class="text-center">Upcoming Meetings</h3>
<table class="table">
  <thead class="thead-light">
    <tr class="table-primary">
      <th scope="col">S.N</th>
      <th scope="col">Meeting</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
  <% @meetings.each do |meeting| %>
    <tr>
      <th scope="row">1</th>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= meeting.end_time %></td>
        <td><%= link_to 'Show', meeting, class:"btn btn-primary", style:"color:#fff" %>
        <%= link_to 'Edit', edit_meeting_path(meeting), class:"btn btn-info", style:"color:#fff" %>
       <%= link_to 'Destroy', meeting, method: :delete, class:"btn btn-danger", style:"color:#fff", data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

</div>